[project]
	description = Ratish's repository for Devops
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ratishraoph
[access "refs/for/refs/*"]
	read = group user/ratishraoph
	push = group user/ratishraoph
	label-Code-Review = -2..+2 group user/ratishraoph
	label-Verified = -1..+1 group user/ratishraoph
	rebase = group user/ratishraoph
	removeReviewer = group user/ratishraoph
	submit = group user/ratishraoph
[access "refs/heads/*"]
	read = group user/ratishraoph
	create = group user/ratishraoph
	push = +force group user/ratishraoph
	pushMerge = group user/ratishraoph
[access "refs/tags/*"]
	push = +force group user/ratishraoph
	pushTag = group user/ratishraoph
	pushSignedTag = group user/ratishraoph
